body {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.explore-button {
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.6em;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.explore-button:hover {
  background-color: #535bf2;
  transform: scale(1.05);
}

.auth-links {
  margin-top: 2rem;
}

.auth-link {
  color: #646cff;
  font-weight: 500;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s;
}

.auth-link:hover {
  color: #2f36ba;
}